body{
    background: #eeedec;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 365px;
}
.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    margin-bottom: -50px;
}